.topcontainer{
    text-align: center;
    height: 2rem;
    background-color: black;
}
.topcontainer label{
    color: black;
    font-size: 1rem;
    color: rgb(228, 226, 226);
    padding-top: 0.3rem;
}
.container-fluid{
    margin:0;
    padding: 0;
}
nav{
    color: white ;
    background-color: gray;
}
li a{
    color: white !important  ;
}
.Logo img{
    height: 3.5rem;
    width: 5rem;
   
}
button{
    color: red;
}
.logoimage{
    color: white;
}

.Logo label{
    margin-left: -0.7rem;
}