<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2  selectcol">
            <label >select image </label>
        </div>
        <div class="col-sm-10 searchcol">
            <input type="text" placeholder="search"> <img src="" alt=""> <button (click)="close()">X</button>
        </div>
    </div>

    <div class="row imagesselectrow">
       
        <div class="col-3 ">
            <div class="cardcol" (click)="selectblog()" >
                <img src="https://quotefancy.com/media/wallpaper/3840x2160/6760-Stephen-King-Quote-Good-books-don-t-give-up-all-their-secrets-at.jpg" alt="">
                <label for="">Image name </label>
            </div>
        </div>
        <div class="col-3 ">
            <div class="cardcol" >
                <img src="https://d19d5sz0wkl0lu.cloudfront.net/dims4/default/eeba990/2147483647/resize/800x%3E/quality/90/?url=https%3A%2F%2Fatd-brightspot.s3.amazonaws.com%2F5e%2Fab%2Fef0a7e214aa1ab24b5497cf98134%2Fshutterstock-1029732634.jpg" alt="">
                <label for="">Image name </label>
            </div>
        </div>
        <div class="col-3 ">
            <div class="cardcol" >
                <img src="https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
                <label for="">Image name </label>
            </div>
        </div>
        <div class="col-3 ">
            <div class="cardcol" >
                <img src="https://cdn.mos.cms.futurecdn.net/dHv998tPaeKxguUFwwEeC4-320-80.jpg" alt="">
                <label for="">Image name </label>
            </div>
        </div>


    

    </div>
    <div class="row uploadimagebtnrow">
       <div class="col-12 uploadimagebtncol">
        <button >Upload Image</button>
       </div>
    </div>
</div>